<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>490623785866-3gd1cia437mqibb84qbgijfdqja1vq4s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.490623785866-3gd1cia437mqibb84qbgijfdqja1vq4s</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>490623785866-39822ejrst6q9putlkenb5ohb5aggm0f.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDhav_9c_RGyxiK5aM8vP71y59B0GuJUQc</string>
	<key>GCM_SENDER_ID</key>
	<string>490623785866</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ancientplustech.ancient.flip</string>
	<key>PROJECT_ID</key>
	<string>ancientflip-cee4f</string>
	<key>STORAGE_BUCKET</key>
	<string>ancientflip-cee4f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:490623785866:ios:f5372f716bb4ccb6c58673</string>
</dict>
</plist>